<div class="view jarallax">
  <div class="mask rgba-indigo-slight">
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <div class="row pt-5 mt-3">
        <div class="col-md-12 mb-3">
          <div class="intro-info-content text-center">
            <h1 class="display-3 blue-text mb-5 wow fadeInDown">
              Bonjour <%= params[:user].first_name %> !<br> Comment allez vous aujourd'hui ?
            </h1>
            <h5 class="text-uppercase blue-text mb-5 mt-1 font-weight-bold wow fadeInDown">HEUREUX DE VOUS REVOIR PARMI NOUS</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center" style="margin-bottom: 25px;">
  <%= link_to "Partagez votre gossip", new_gossip_path , class: "btn btn-danger btn-sm m-3" %>
</div>

<div class ='align-middle text-center'>
  <h6 class="withborder">Voici la liste de vos <strong>gossips</strong> :</h6>
      <% params[:gossips].each do |gossip| %>
        <div class="card">
          <div class="card-body">
            <h5 class="mt-0 text-center"><%= gossip.title  %></h5>
            <p class="card-text text-center"> <%= gossip.content %></p>
            <%= link_to "Afficher ce gossip seul", gossip_path(:id => gossip.id), class: 'btn btn-outline-danger btn-sm' %>
          </div>
        </div>
    <% end %>
</div>